### Import Modules

In [1]:
import re
import pickle
import pandas as pd
import string

### Setting up Dataframe

In [2]:
# opening pickle file
with open('comedian.pickle', 'rb') as f:
    heading = pickle.load(f)

In [4]:
heading[:5]

['BILLY CONNOLLY: HIGH HORSE TOUR LIVE (2016) – FULL TRANSCRIPT',
 'HANNAH GADSBY: DOUGLAS (2020) – FULL TRANSCRIPT',
 'PATTON OSWALT: I LOVE EVERYTHING (2020) – FULL TRANSCRIPT',
 'RUSSELL PETERS: DEPORTED (2020) – FULL TRANSCRIPT',
 'JIMMY O. YANG: GOOD DEAL (2020) – FULL TRANSCRIPT']

In [5]:
# make a datafram using the heading
comedian_df = pd.DataFrame({'Heading': heading})

In [6]:
comedian_df.head()

                                             Heading
0  BILLY CONNOLLY: HIGH HORSE TOUR LIVE (2016) – ...
1    HANNAH GADSBY: DOUGLAS (2020) – FULL TRANSCRIPT
2  PATTON OSWALT: I LOVE EVERYTHING (2020) – FULL...
3  RUSSELL PETERS: DEPORTED (2020) – FULL TRANSCRIPT
4  JIMMY O. YANG: GOOD DEAL (2020) – FULL TRANSCRIPT

### Splitting Names

In most cases the format in the heading column is "firstname lastname:Title (Year)". This makes it easy to get most comedian names.

In [7]:
# Some headings don't have a colon. This is a list of words to split comedian names for most other cases.

split_words =[':', ' On ', ' At ', ' About ', ' Live', 'Stand-Up', '–', '…', 'Award-Winning', 'Monologue', ' & ', 'Matters', 'E Il', 'Tries']

In [8]:
# loop through each item in the heading, splitting the text using a loop on each split word
nm=[]
for name in comedian_df['Heading']:
        for word in split_words:
            name = (name.split(word)[0].title().rstrip())
        nm.append(name)

comedian_df['Name'] = nm

In [9]:
comedian_df.head()

                                             Heading            Name
0  BILLY CONNOLLY: HIGH HORSE TOUR LIVE (2016) – ...  Billy Connolly
1    HANNAH GADSBY: DOUGLAS (2020) – FULL TRANSCRIPT   Hannah Gadsby
2  PATTON OSWALT: I LOVE EVERYTHING (2020) – FULL...   Patton Oswalt
3  RUSSELL PETERS: DEPORTED (2020) – FULL TRANSCRIPT  Russell Peters
4  JIMMY O. YANG: GOOD DEAL (2020) – FULL TRANSCRIPT   Jimmy O. Yang

In [10]:
# testing another example of the dataframe. Note - the name in line 50 needs work

comedian_df.iloc[49:51]

,Heading,Name
49,DAVE CHAPPELLE: STICKS AND STONES | EPILOGUE: ...,Dave Chappelle
50,"Brazil, Corruption and the Amazon Rainforest |...","Brazil, Corruption And The Amazon Rainforest |..."