### Import Modules

In [1]:
import re
import pickle
import pandas as pd
import string

### Setting up Dataframe

In [2]:
# opening pickle file
with open('comedian.pickle', 'rb') as f:
    heading = pickle.load(f)

In [3]:
heading[:5]

['BILLY CONNOLLY: HIGH HORSE TOUR LIVE (2016) – FULL TRANSCRIPT',
 'HANNAH GADSBY: DOUGLAS (2020) – FULL TRANSCRIPT',
 'PATTON OSWALT: I LOVE EVERYTHING (2020) – FULL TRANSCRIPT',
 'RUSSELL PETERS: DEPORTED (2020) – FULL TRANSCRIPT',
 'JIMMY O. YANG: GOOD DEAL (2020) – FULL TRANSCRIPT']

In [4]:
# make a datafram using the heading
comedian_df = pd.DataFrame({'Heading': heading})

In [5]:
comedian_df.head()

                                             Heading
0  BILLY CONNOLLY: HIGH HORSE TOUR LIVE (2016) – ...
1    HANNAH GADSBY: DOUGLAS (2020) – FULL TRANSCRIPT
2  PATTON OSWALT: I LOVE EVERYTHING (2020) – FULL...
3  RUSSELL PETERS: DEPORTED (2020) – FULL TRANSCRIPT
4  JIMMY O. YANG: GOOD DEAL (2020) – FULL TRANSCRIPT

### Splitting Names

In most cases the format in the heading column is "firstname lastname:Title (Year)". This makes it easy to get most comedian names.

In [6]:
# Some headings don't have a colon. This is a list of words to split comedian names for most other cases.

split_words =[':', ' On ', ' At ', ' About ', ' Live', 'Stand-Up', '–', '…', 'Award-Winning', 'Monologue', ' & ', 'Matters', 'E Il', 'Tries']

In [7]:
# loop through each item in the heading, splitting the text using a loop on each split word
nm=[]
for name in comedian_df['Heading']:
        for word in split_words:
            name = (name.split(word)[0].title().rstrip())
        nm.append(name)

comedian_df['Name'] = nm

In [8]:
comedian_df.head()

                                             Heading            Name
0  BILLY CONNOLLY: HIGH HORSE TOUR LIVE (2016) – ...  Billy Connolly
1    HANNAH GADSBY: DOUGLAS (2020) – FULL TRANSCRIPT   Hannah Gadsby
2  PATTON OSWALT: I LOVE EVERYTHING (2020) – FULL...   Patton Oswalt
3  RUSSELL PETERS: DEPORTED (2020) – FULL TRANSCRIPT  Russell Peters
4  JIMMY O. YANG: GOOD DEAL (2020) – FULL TRANSCRIPT   Jimmy O. Yang

In [9]:
# testing another example of the dataframe. Note - the name in line 50 needs work

comedian_df.iloc[49:51]

,Heading,Name
49,DAVE CHAPPELLE: STICKS AND STONES | EPILOGUE: ...,Dave Chappelle
50,"Brazil, Corruption and the Amazon Rainforest |...","Brazil, Corruption And The Amazon Rainforest |..."

#### Fixing Names

In [10]:
# Most names look correct, but we have to make an adjustment on a few

name_index = [11, 50, 57, 58, 63, 83, 86, 88, 100, 101, 103, 112, 148, 224, 231, 235, 237, 338]

In [11]:
# List of corrected comedian names
name_fix = ['Louis C.K.',
'Hasan Minhaj',
'Katherine Ryan',
'Katherine Ryan',
'Gina Yashere',
'George Carlin',
'Gabriel Iglesias',
'John Leguizamo',
'George Carlin',
'Tom Segura',
'Joe Mande',
'Dave Chappelle',
'Patton Oswalt',
'Richard Pryor',
'Dave Attell',
'Daniel Tosh',
'George Carlin',
'Pauline Kael',
]

#### Looping through corrected names

In [12]:
# Loop through adjustments using the 2 lists above
for i, n in zip(name_index, name_fix):
        comedian_df.Name.iloc[i] = n

In [13]:
# a look at the revised dataframe
comedian_df.iloc[49:51]

                                              Heading            Name
49  DAVE CHAPPELLE: STICKS AND STONES | EPILOGUE: ...  Dave Chappelle
50  Brazil, Corruption and the Amazon Rainforest |...    Hasan Minhaj

### Splitting Year

The heading usually has information about the year of each stand-up set. Follow a similar process to split this out

In [14]:
# loop uses regex to find 4 digit numbers as year. Then add Year to dataframe
yr = []    
for name in comedian_df['Heading']:
    try:
        yr.append(re.search(r'\b\d{4}\b',name).group(0))
    except:
        yr.append('missing year')
comedian_df['Year'] = yr

In [15]:
# those without 4 digits numbers are classified as missing year. This is a list of them all
missing_yr = comedian_df['Year'] == 'missing year'

In [16]:
# viewing the dataframe again
comedian_df.iloc[49:52]

,Heading,Name,Year
49,DAVE CHAPPELLE: STICKS AND STONES | EPILOGUE: ...,Dave Chappelle,missing year
50,"Brazil, Corruption and the Amazon Rainforest |...",Hasan Minhaj,missing year
51,DAVE CHAPPELLE: STICKS & STONES (2019) – FULL ...,Dave Chappelle,2019

In [17]:
comedian_df.head()

                                             Heading            Name  Year
0  BILLY CONNOLLY: HIGH HORSE TOUR LIVE (2016) – ...  Billy Connolly  2016
1    HANNAH GADSBY: DOUGLAS (2020) – FULL TRANSCRIPT   Hannah Gadsby  2020
2  PATTON OSWALT: I LOVE EVERYTHING (2020) – FULL...   Patton Oswalt  2020
3  RUSSELL PETERS: DEPORTED (2020) – FULL TRANSCRIPT  Russell Peters  2020
4  JIMMY O. YANG: GOOD DEAL (2020) – FULL TRANSCRIPT   Jimmy O. Yang  2020

#### Fixing Years

In [18]:
# creating an index for the missing year list
missing_yr_index = [i for i, val in enumerate(missing_yr) if val]

In [19]:
missing_yr_index

[16,
 19,
 22,
 49,
 50,
 54,
 65,
 83,
 101,
 107,
 108,
 142,
 223,
 236,
 238,
 311,
 328,
 338]

In [20]:
# had to manually look up some of the missing years

yr_list = ['1993',
'1965',
'2015',
'2019',
'2019',
'2019',
'2004',
'1997',
'2011',
'2012',
'2014',
'2007',
'1996',
'1999',
'2014',
'1972',
'2014',
'1980']

#### Looping through missing years

In [21]:
# appling the missing years
for i, y in zip(missing_yr_index, yr_list):
        comedian_df.Year.iloc[i] = y

In [22]:
# checking the df - years have been added
comedian_df.iloc[49:51]

                                              Heading            Name  Year
49  DAVE CHAPPELLE: STICKS AND STONES | EPILOGUE: ...  Dave Chappelle  2019
50  Brazil, Corruption and the Amazon Rainforest |...    Hasan Minhaj  2019

In [23]:
# top 20 years by count, most are recent
comedian_df.Year.value_counts()[:20]

2018    43
2017    40
2019    40
2016    27
2015    22
2014    16
2013    15
2020    14
2012    14
2010    13
2011    11
2007     9
1999     8
2006     8
2008     6
2004     6
2009     5
1992     4
1996     4
1983     3
Name: Year, dtype: int64

### Splitting Title

We can also split the title of each stand-up set from the heading

In [24]:
# Start by splitting on hyphen or parentheses or brackets
split_titles =['–', ' (', ' [']

In [25]:
# Note this time we apply 'capwords' rather than 'title' as capwords works better with apostrophes in titles
# The second part of the loop splits on colon, taking the second part of the split. 
# We need a try / except for cases without a colon

ti=[]
for ttl in comedian_df['Heading']:
        for word in split_titles:
            ttl = string.capwords(ttl.split(word)[0]).rstrip()
    
        try:
            ttl = (ttl.split(":")[1].lstrip())
        except:
            ttl = ttl
        ti.append(ttl)

comedian_df['Title'] = ti

In [26]:
# viewing the dataframe, note the dots for an extended title on line 50
comedian_df.iloc[49:51]

,Heading,Name,Year,Title
49,DAVE CHAPPELLE: STICKS AND STONES | EPILOGUE: ...,Dave Chappelle,2019,Sticks And Stones | Epilogue
50,"Brazil, Corruption and the Amazon Rainforest |...",Hasan Minhaj,2019,"Brazil, Corruption And The Amazon Rainforest |..."

#### Fixing Titles

In [27]:
# a few titles need refinement.

title_index = [10,
50,
57,
58,
63,
65,
74,
88,
101,
103,
142,
148,
156,
180,
223,
224,
229,
231,
235,
251,
305,
324,
328,
338]

In [28]:
title_fix = ['The Late Show With David Letterman',
'Brazil, Corruption And The Amazon Rainforest',
'In Trouble',
'Glitter Room',
'The Standups',
'Babies And Abortion',
'Live On Broadway',
'Latin History For Morons',
'Comedy Central Presents',
'Award-Winning Comedy Special',
'Nationalism',
'Comedy Central Presents',
'Glorious',
'Live at Laff Stop',
'Abortion and “Pro-Lifers”',
'Monologue at Saturday Night Live',
'Tries Stand-up For The First Time',
'Comedy Central Presents',
'Comedy Central Presents',
'Here And Now',
'2017 White House Correspondents’ Dinner',
'2011 White House Correspondents’ Dinner',
'Gun Control',
'The Shining Devolution']

#### Looping through title fix

In [29]:
for i, t in zip(title_index, title_fix):
        comedian_df.Title.iloc[i] = t

In [30]:
# viewing same titles after the fix has been applied
comedian_df.iloc[49:51]

,Heading,Name,Year,Title
49,DAVE CHAPPELLE: STICKS AND STONES | EPILOGUE: ...,Dave Chappelle,2019,Sticks And Stones | Epilogue
50,"Brazil, Corruption and the Amazon Rainforest |...",Hasan Minhaj,2019,"Brazil, Corruption And The Amazon Rainforest"

### Add Link to Dataframe

Now we can add the link and the transcript to our dataframe

In [31]:
# opening pickle file
with open('link.pickle', 'rb') as f:
    link = pickle.load(f)

In [32]:
comedian_df['Link'] = link

In [33]:
comedian_df

,Heading,Name,Year,Title,Link
0,BILLY CONNOLLY: HIGH HORSE TOUR LIVE (2016) – ...,Billy Connolly,2016,High Horse Tour Live,https://scrapsfromtheloft.com/2020/05/27/billy...
1,HANNAH GADSBY: DOUGLAS (2020) – FULL TRANSCRIPT,Hannah Gadsby,2020,Douglas,https://scrapsfromtheloft.com/2020/05/26/hanna...
2,PATTON OSWALT: I LOVE EVERYTHING (2020) – FULL...,Patton Oswalt,2020,I Love Everything,https://scrapsfromtheloft.com/2020/05/20/patto...
3,RUSSELL PETERS: DEPORTED (2020) – FULL TRANSCRIPT,Russell Peters,2020,Deported,https://scrapsfromtheloft.com/2020/05/10/russe...
4,JIMMY O. YANG: GOOD DEAL (2020) – FULL TRANSCRIPT,Jimmy O. Yang,2020,Good Deal,https://scrapsfromtheloft.com/2020/05/10/jimmy...
...,...,...,...,...,...
338,THE SHINING: DEVOLUTION – REVIEW BY PAULINE KAEL,Pauline Kael,1980,The Shining Devolution,https://scrapsfromtheloft.com/2016/10/16/shini...
339,DAVE CHAPPELLE: STICKS & STONES (2019) – FULL ...,Dave Chappelle,2019,Sticks & Stones,https://scrapsfromtheloft.com/2019/08/26/dave-...
340,KEVIN HART: SERIOUSLY FUNNY (2010) – FULL TRAN...,Kevin Hart,2010,Seriously Funny,https://scrapsfromtheloft.com/2017/09/02/kevin...
341,TOM SEGURA: DISGRACEFUL (2018) – FULL TRANSCRIPT,Tom Segura,2018,Disgraceful,https://scrapsfromtheloft.com/2018/01/13/tom-s...
342,HANNAH GADSBY: NANETTE (2018) – FULL TRANSCRIPT,Hannah Gadsby,2018,Nanette,https://scrapsfromtheloft.com/2018/07/21/hanna...

### Add Transcript to Dataframe

In [34]:
# opening pickle file
with open('transcript2.pickle', 'rb') as f:
    transcript = pickle.load(f)

In [35]:
comedian_df['Transcript'] = transcript

comedian_df.Transcript[342][:500]

#### Adding the length of each transcript to the dataframe

In [38]:
# loop counts the number of characters in each transcript
length =[]
for t in comedian_df['Transcript']:
    lngth = len(t)
    length.append(lngth)

comedian_df['Length'] = length

In [39]:
# view first example
len(comedian_df['Transcript'][0])

65834

#### Adding word count of each transcript to the dataframe

In [40]:
# loop counts the number of words in each transcript

In [41]:
words = []
for w in comedian_df['Transcript']:
    count = len(w.split())
    words.append(count)
    
comedian_df['WordCount'] = words

In [42]:
# viewing comedian names. Making sure that there are no alternative spellings - Dave vs David for example
sorted(comedian_df.Name.unique())

['Adam Devine',
 'Adam Sandler',
 'Adel Karam',
 'Al Madrigal',
 'Ali Wong',
 'Amanda Seales',
 'Amy Schumer',
 'Andy Woodhull',
 'Anjelah Johnson',
 'Anthony Jeselnik',
 'Ari Shaffir',
 'Arsenio Hall',
 'Aziz Ansari',
 'Bert Kreischer',
 'Big Jay Oakerson',
 'Bill Burr',
 'Bill Hicks',
 'Bill Maher',
 'Billy Connolly',
 'Bo Burnham',
 'Brad Williams',
 'Brent Morin',
 'Brian Regan',
 'Bridget Everett',
 'Cedric The Entertainer',
 'Chelsea Peretti',
 'Chris D’Elia',
 'Chris Rock',
 'Chris Tucker',
 'Christina Pazsitzky',
 'Colin Quinn',
 'Craig Ferguson',
 'Cristela Alonzo',
 'D.L. Hughley',
 'Dan Soder',
 'Dana Carvey',
 'Daniel Sloss',
 'Daniel Tosh',
 'Dave Allen',
 'Dave Attell',
 'Dave Chappelle',
 'David Cross',
 'Demetri Martin',
 'Deray Davis',
 'Dick Gregory',
 'Donald Glover',
 'Doug Stanhope',
 'Dylan Moran',
 'Eddie Griffin',
 'Eddie Izzard',
 'Eddie Murphy',
 'Ellen Degeneres',
 'Emily Heller',
 'Enissa Amani',
 'Erik Griffin',
 'Fahim Anwar',
 'Frankie Boyle',
 'Fred Armisen',
 'Gabriel Iglesias',
 'George Carlin',
 'Gina Yashere',
 'Greg Davies',
 'Hannah Gadsby',
 'Hannibal Buress',
 'Hasan Minhaj',
 'Henry Rollins',
 'Iliza Shlesinger',
 'Jack Whitehall',
 'Jeff Foxworthy',
 'Jen Kirkman',
 'Jerry Seinfeld',
 'Jim Gaffigan',
 'Jim Jefferies',
 'Jim Norton',
 'Jimmy Carr',
 'Jimmy O. Yang',
 'Jo Koy',
 'Joe Mande',
 'Joe Rogan',
 'John Leguizamo',
 'John Mulaney',
 'Judah Friedlander',
 'Katherine Ryan',
 'Katt Williams',
 'Kavin Jay',
 'Ken Jeong',
 'Kevin Bridges',
 'Kevin Hart',
 'Kevin James',
 'Kevin Smith',
 'Lee Mack',
 'Lenny Bruce',
 'Lewis Black',
 'Lisa Lampanelli',
 'Louis C.K.',
 'Marc Maron',
 'Maria Bamford',
 'Mark Normand',
 'Marlon Wayans',
 'Maz Jobrani',
 'Michael Che',
 'Michael Mcintyre',
 'Michelle Wolf',
 'Mike Birbiglia',
 'Mike Epps',
 'Mitch Hedberg',
 'Mo Amer',
 'Nate Bargatze',
 'Neal Brennan',
 'Nick Offerman',
 'Nikki Glaser',
 'Norm Macdonald',
 'Pablo Francisco',
 'Patrice O’Neal',
 'Patton Oswalt',
 'Paul Mooney',
 'Pauline Kael',
 'Pete Davidson',
 'Pete Holmes',
 'Ralphie May',
 'Ray Romano',
 'Reggie Watts',
 'Richard Pryor',
 'Ricky Gervais',
 'Robin Williams',
 'Ron White',
 'Rory Scovel',
 'Rowan Atkinson',
 'Roy Wood Jr.',
 'Russell Brand',
 'Russell Howard',
 'Russell Peters',
 'Ryan Hamilton',
 'Sara Pascoe',
 'Sarah Millican',
 'Sarah Silverman',
 'Sebastian Maniscalco',
 'Seth Meyers',
 'Stewart Lee',
 'T.J. Miller',
 'Tiffany Haddish',
 'Todd Barry',
 'Todd Glass',
 'Tom Segura',
 'Trevor Noah',
 'Vir Das',
 'Volker Pispers',
 'Wanda Sykes',
 'Whitney Cummings']

In [43]:
# Top Comedians by transcript count
comedian_df.Name.value_counts()[:30]

George Carlin           24
Dave Chappelle          13
Louis C.K.              11
Ricky Gervais            8
Jim Jefferies            8
Bill Burr                8
John Mulaney             7
Kevin Hart               6
Tom Segura               6
Chris Rock               6
Doug Stanhope            5
Iliza Shlesinger         5
Trevor Noah              5
Richard Pryor            5
Eddie Izzard             4
Amy Schumer              4
Patton Oswalt            4
Daniel Tosh              4
Sarah Silverman          4
Stewart Lee              4
Jim Norton               4
Jimmy Carr               4
Bert Kreischer           4
Sebastian Maniscalco     4
Gabriel Iglesias         4
Bill Maher               3
Frankie Boyle            3
Jo Koy                   3
Kevin Bridges            3
Bill Hicks               3
Name: Name, dtype: int64

In [44]:
# backup before removing duplicates
backupcopy_df = comedian_df

#### Remove Duplicates

In [45]:
# There are some duplicates of transcript. This identifies them
comedian_df[comedian_df.duplicated(['Link'],False)]

,Heading,Name,Year,Title,Link,Transcript,Length,WordCount
2,PATTON OSWALT: I LOVE EVERYTHING (2020) – FULL...,Patton Oswalt,2020,I Love Everything,https://scrapsfromtheloft.com/2020/05/20/patto...,This is the full transcript of Patton Oswalt: ...,45612,8565
21,BERT KREISCHER: HEY BIG BOY (2020) – FULL TRAN...,Bert Kreischer,2020,Hey Big Boy,https://scrapsfromtheloft.com/2020/03/21/bert-...,[electronic music playing] [male announcer] La...,47322,8941
51,DAVE CHAPPELLE: STICKS & STONES (2019) – FULL ...,Dave Chappelle,2019,Sticks & Stones,https://scrapsfromtheloft.com/2019/08/26/dave-...,Sticks & Stones is Dave Chappelle’s fifth Netf...,42289,8100
127,HANNAH GADSBY: NANETTE (2018) – FULL TRANSCRIPT,Hannah Gadsby,2018,Nanette,https://scrapsfromtheloft.com/2018/07/21/hanna...,[“Bobby Reid” plays] ♪ There’s blood in the wa...,46904,8749
145,JOHN MULANEY: KID GORGEOUS AT RADIO CITY (2018...,John Mulaney,2018,Kid Gorgeous At Radio City,https://scrapsfromtheloft.com/2018/05/05/john-...,[organ music playing] Welcome to Radio City Mu...,48743,9189
179,TOM SEGURA: DISGRACEFUL (2018) – FULL TRANSCRIPT,Tom Segura,2018,Disgraceful,https://scrapsfromtheloft.com/2018/01/13/tom-s...,Transcript of Tom Segura’s new Netflix Special...,59891,10798
243,JOHN MULANEY: NEW IN TOWN (2012) – FULL TRANSC...,John Mulaney,2012,New In Town,https://scrapsfromtheloft.com/2017/09/25/john-...,[funky 90’s beat and cityscape pan] [singing] ...,67621,12512
256,KEVIN HART: SERIOUSLY FUNNY (2010) – FULL TRAN...,Kevin Hart,2010,Seriously Funny,https://scrapsfromtheloft.com/2017/09/02/kevin...,"Whoa! Yeah, Cleveland. What’s up, Cleveland? H...",63209,12592
274,JOHN MULANEY: THE COMEBACK KID (2015) – FULL T...,John Mulaney,2015,The Comeback Kid,https://scrapsfromtheloft.com/2017/08/02/john-...,"All right, Petunia. Wish me luck out there. Yo...",48506,9302
333,JOHN MULANEY: KID GORGEOUS AT RADIO CITY (2018...,John Mulaney,2018,Kid Gorgeous At Radio City,https://scrapsfromtheloft.com/2018/05/05/john-...,[organ music playing] Welcome to Radio City Mu...,48743,9189
334,JOHN MULANEY: THE COMEBACK KID (2015) – FULL T...,John Mulaney,2015,The Comeback Kid,https://scrapsfromtheloft.com/2017/08/02/john-...,"All right, Petunia. Wish me luck out there. Yo...",48506,9302
335,JOHN MULANEY: NEW IN TOWN (2012) – FULL TRANSC...,John Mulaney,2012,New In Town,https://scrapsfromtheloft.com/2017/09/25/john-...,[funky 90’s beat and cityscape pan] [singing] ...,67621,12512
336,BERT KREISCHER: HEY BIG BOY (2020) – FULL TRAN...,Bert Kreischer,2020,Hey Big Boy,https://scrapsfromtheloft.com/2020/03/21/bert-...,[electronic music playing] [male announcer] La...,47322,8941
337,PATTON OSWALT: I LOVE EVERYTHING (2020) – FULL...,Patton Oswalt,2020,I Love Everything,https://scrapsfromtheloft.com/2020/05/20/patto...,This is the full transcript of Patton Oswalt: ...,45612,8565
339,DAVE CHAPPELLE: STICKS & STONES (2019) – FULL ...,Dave Chappelle,2019,Sticks & Stones,https://scrapsfromtheloft.com/2019/08/26/dave-...,Sticks & Stones is Dave Chappelle’s fifth Netf...,42289,8100
340,KEVIN HART: SERIOUSLY FUNNY (2010) – FULL TRAN...,Kevin Hart,2010,Seriously Funny,https://scrapsfromtheloft.com/2017/09/02/kevin...,"Whoa! Yeah, Cleveland. What’s up, Cleveland? H...",63209,12592
341,TOM SEGURA: DISGRACEFUL (2018) – FULL TRANSCRIPT,Tom Segura,2018,Disgraceful,https://scrapsfromtheloft.com/2018/01/13/tom-s...,Transcript of Tom Segura’s new Netflix Special...,59891,10798
342,HANNAH GADSBY: NANETTE (2018) – FULL TRANSCRIPT,Hannah Gadsby,2018,Nanette,https://scrapsfromtheloft.com/2018/07/21/hanna...,[“Bobby Reid” plays] ♪ There’s blood in the wa...,46904,8749

In [46]:
# drop duplicate rows. This removes the second occurence of each duplicate - rows 333 - 342 (excluding 338)
comedian_df = comedian_df.drop_duplicates()
comedian_df = comedian_df.reset_index(drop=True)

In [47]:
comedian_df.tail()

,Heading,Name,Year,Title,Link,Transcript,Length,WordCount
329,Reggie Watts: Spatial (2016) – Full Transcript,Reggie Watts,2016,Spatial,https://scrapsfromtheloft.com/2017/03/30/reggi...,"Hello, I’m Thomas. I’m so glad to meet you Mum...",22122,4428
330,George Carlin: Complaints and Grievances (2001...,George Carlin,2001,Complaints And Grievances,https://scrapsfromtheloft.com/2017/03/29/georg...,Complaints and Grievances is a HBO stand-up sp...,43700,8166
331,GEORGE CARLIN: LIFE IS WORTH LOSING (2006) – F...,George Carlin,2006,Life Is Worth Losing,https://scrapsfromtheloft.com/2016/12/28/georg...,"Recorded on November 5, 2005, Beacon Theater, ...",67184,12169
332,George Carlin: It’s Bad For Ya (2008) Full tra...,George Carlin,2008,It’s Bad For Ya,https://scrapsfromtheloft.com/2016/11/10/georg...,"Full transcript of It’s Bad for Ya, final HBO ...",53920,10008
333,THE SHINING: DEVOLUTION – REVIEW BY PAULINE KAEL,Pauline Kael,1980,The Shining Devolution,https://scrapsfromtheloft.com/2016/10/16/shini...,by Pauline Kael If Stanley Kubrick’s The Shini...,21898,3803

#### Remove outliers by language

There are also some transcripts that are restricted, or are in languages other than English. We don't have enough data to support Italian and Spanish here, although it could be an interesting future project. I'll remove these.

In [48]:
# Find outliers by searching for 'protected' and language identifiers 
outliers_bool = comedian_df['Heading'].str.contains('Protected|Transcripción|italia') | comedian_df['Link'].str.contains('e-il-controllo')
comedian_df[outliers_bool]

,Heading,Name,Year,Title,Link,Transcript,Length,WordCount
57,Protected: Katherine Ryan: In Trouble (2017) –...,Katherine Ryan,2017,In Trouble,https://scrapsfromtheloft.com/2019/07/06/kathe...,This content is password protected. To view it...,90,14
58,Protected: Katherine Ryan: Glitter Room (2019)...,Katherine Ryan,2019,Glitter Room,https://scrapsfromtheloft.com/2019/07/05/kathe...,This content is password protected. To view it...,90,14
190,DAVE CHAPPELLE: EQUANIMITY (2017) – Transcripc...,Dave Chappelle,2017,Equanimity,https://scrapsfromtheloft.com/2018/01/05/dave-...,Original English transcript here [“Killing Me ...,37324,6646
191,DAVE CHAPPELLE: THE BIRD REVELATION (2017) – T...,Dave Chappelle,2017,The Bird Revelation,https://scrapsfromtheloft.com/2018/01/05/dave-...,Original English transcript here [Dave Chappel...,29994,5353
192,DAVE CHAPPELLE: HBO HALF HOUR (1998) – Traduzi...,Dave Chappelle,1998,Hbo Half Hour,https://scrapsfromtheloft.com/2018/01/05/dave-...,"Ho iniziato a 14 anni, è stato allora che mi s...",16920,2911
238,JIM JEFFERIES E IL CONTROLLO DELLE ARMI IN AME...,Jim Jefferies,2014,Jim Jefferies E Il Controllo Delle Armi In Ame...,https://scrapsfromtheloft.com/2017/10/02/jim-j...,Il comico australiano Jim Jefferies ridicolizz...,11798,2008
252,BILL BURR: WHY DO I DO THIS (2008) – Testo ita...,Bill Burr,2008,Why Do I Do This,https://scrapsfromtheloft.com/2017/09/08/bill-...,"Va bene, grazie, grazie mille. Va bene, Gesù. ...",45475,7685
263,DOUG STANHOPE: NO REFUNDS (2007) – Trascrizion...,Doug Stanhope,2007,No Refunds,https://scrapsfromtheloft.com/2017/08/23/doug-...,New York è sconcertante nel… è una città che s...,48172,8014
317,GEORGE CARLIN: JAMMING IN NEW YORK (1992) – Te...,George Carlin,1992,Jamming In New York,https://scrapsfromtheloft.com/2017/04/12/georg...,"Ciao, grazie. Grazie. Grazie. Grazie molte. Gr...",48593,7906
318,GEORGE CARLIN: YOU ARE ALL DISEASED (1999) – T...,George Carlin,1999,You Are All Diseased,https://scrapsfromtheloft.com/2017/04/12/georg...,"Siete gentili, grazie! Grazie mille, lo apprez...",55838,9013
319,GEORGE CARLIN: IT’S BAD FOR YA! (2008) – Testo...,George Carlin,2008,It’s Bad For Ya!,https://scrapsfromtheloft.com/2017/04/12/georg...,"Grazie, grazie, grazie! Mi piacerebbe iniziare...",56816,9570

In [49]:
# creating an index for the outliers
outlier_index = [i for i, val in enumerate(outliers_bool) if val]

In [50]:
outlier_index

[57, 58, 190, 191, 192, 238, 252, 263, 317, 318, 319]

In [51]:
# removing outliers
comedian_df.drop(comedian_df.index[outlier_index], axis=0, inplace=True)

In [52]:
comedian_df[56:59]

,Heading,Name,Year,Title,Link,Transcript,Length,WordCount
56,Ralphie May: Filthy Animal Tour (2014) – Full ...,Ralphie May,2014,Filthy Animal Tour,https://scrapsfromtheloft.com/2019/07/07/ralph...,Ralphie May hosts his legendary Filthy Animals...,59084,11309
59,Mike Epps: Only One Mike (2019) – Full Transcript,Mike Epps,2019,Only One Mike,https://scrapsfromtheloft.com/2019/06/27/mike-...,♪ Washington D.C. are you ready? ♪ ♪ It’s abou...,42286,8101
60,Adam DeVine: Best Time of Our Lives (2019) – F...,Adam Devine,2019,Best Time Of Our Lives,https://scrapsfromtheloft.com/2019/06/22/adam-...,"[rock music playing] [indistinct chatter] Hey,...",47944,8653

In [53]:
# resetting the index
comedian_df = comedian_df.reset_index(drop=True)

In [54]:
comedian_df[56:59]

,Heading,Name,Year,Title,Link,Transcript,Length,WordCount
56,Ralphie May: Filthy Animal Tour (2014) – Full ...,Ralphie May,2014,Filthy Animal Tour,https://scrapsfromtheloft.com/2019/07/07/ralph...,Ralphie May hosts his legendary Filthy Animals...,59084,11309
57,Mike Epps: Only One Mike (2019) – Full Transcript,Mike Epps,2019,Only One Mike,https://scrapsfromtheloft.com/2019/06/27/mike-...,♪ Washington D.C. are you ready? ♪ ♪ It’s abou...,42286,8101
58,Adam DeVine: Best Time of Our Lives (2019) – F...,Adam Devine,2019,Best Time Of Our Lives,https://scrapsfromtheloft.com/2019/06/22/adam-...,"[rock music playing] [indistinct chatter] Hey,...",47944,8653